@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
:root{
    --main-color:#be9c79;
    --black:#333;
    --white:#ffff;
    --light-color:#666;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}
*::selection{
    background-color: var(--main-color);
    color: var(--white);
}
#navcontainer {
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}
.navbar {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlinks li {
    list-style-type: none;  
}
.navlinks a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--black);
    letter-spacing: 1px
}
.navcontainer .navbar .navlinks a:hover{
    text-decoration: underline;
    color: var(--main-color);
}
.logo img {
    width: 25%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.navlinks {
    display: flex;
    align-items: center;
    justify-content: space-around ;
    width: 40%;
    height: 100%;
}
.checkbtn {
    color:var(--black);
    font-size: 24px;
    margin-right: 20px;
    padding: 5px 7px 1px;
    /* border: 2px solid #55c4e9;
    border-radius: 5px; */
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
@media (min-width:200px)and (max-width:950px){
    header{
        font-size: 12px;
    }
    .navlinks {
        position: absolute;
        top: 100px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 250px;
        display: none;
        background-color: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
    }
    .navlinks li {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .navlinks li a {
        color: var(--black);
        font-weight: 500;
    }

    .li1,
    .li2,
    .li3,
    .li4,
    .li5 {
        border-bottom: 1px solid #eae5e5;
    }

    .navlinks li:hover {
        background-color:var(--white);
    }

    .navlinks li:hover a {
        color: var(--black);
        font-weight: 600;
        font-size: 20px;
    }
    .checkbtn {
        display: block;  
    }
    #check:checked~.navlinks {
        /* display: block; */
        display: flex;
    }
}